body {
	background-color: black;
	color: white;
	font-family: "Myriad Pro";
}

input {
	margin: 10px;
}
#forms {
	display: table;
}
#forms input {
	padding: 10px;
	border-color: transparent;
	border-radius: 7px;
	outline: none;
	display: table-column;
}

#password_checker {
	color: red;
}